/* fonts */
@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2) format("woff2"),
  url(../fonts/ptsans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src:url(../fonts/ptsans-bold.woff2) format("woff2"),
  url(../fonts/ptsans-bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

/* variables */
:root {
  --basic-black: #000000;
  --basic-white: #FFFFFF;
  --basic-logo-blue: #81B3D3;
  --basic-blue:#81B3D2;
  --basic-paragraph: #333333;
  --basic-form-but :#A9A9A9;
  --basic-neutral:#EEEEEE;
  --basic-form-input-index:#F2F2F2;
  --basic-logo-htmlacademy: #231F20;
  --basic-brown: #766357;
  --basic-disabled :#6A6A6A;
  --basic-sort-disabled: #CACACA;
  --basic-hover-blue: #669EC0;
  --basic-active-blue: #5496BD;
  --basic-hover-brown: #604E43;
  --basic-active-brown: #503E33;
  --basic-hover-input-form: #EBEBEB;
  --basic-active-logo-htmlacademy: #BDBBBC;
  --basic-background: #F2F2F2;
  --background-welcom-sign:#e2eff7;
  --basic-rating: #666666;
  --border-hotels: #E5E5E5;
  --color-active-white:rgba(255, 255, 255, 0.3);
  --color-active-black: rgba(0,0,0,0.3);
  --color-box-shadow: rgba(0, 1, 1, 0.2);
  --color-index-footer: rgba(255, 255, 255, 0.9);
  --color-range: #ABABAB;
}

/* global */
body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-background);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */
.page {
  height: 100%;
}

/* main-header */

/* Main navigation */
.main-navigation {
  position: relative;
  display: grid;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

/* container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 5px 15px var(--color-box-shadow);
}

/* logo */
.main-header-logo {
  position: absolute;
  left: 531px;
  order: 1;
  justify-self: center;
  z-index: 1;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
  width: 100%;
}

.site-navigation {
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 72px;
  list-style: none;
}

.site-navigation li {
  width: 229px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: 700;
}

.site-navigation li:nth-child(1) {
  text-align: left;

}

.site-navigation li:nth-child(2) {
  text-align: left;
  margin-right: 138px;
}

.site-navigation li:nth-child(3) {
  text-align: right;
}

.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation .active {
  color: var(--basic-brown);
}



/* main */
.welcome-sign {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 509px;
  width: 1200px;
  background-color: var(--background-welcom-sign);
  background-image: url(../img/background_photo.jpg);
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;
}

/* Надо ли это? */
.features{
  position: relative;
  z-index: 1;
}

.welcome-sign::after {
  content: url(../img/mask.svg);
  position: absolute;
  bottom: -190px;
  right: 0;
}


/* features */
.introduction-features {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

}

.introduction-features-bold {
  margin: 0;
  padding: 0;
  padding-top: 42px;
  padding-bottom: 16px;
}

.introduction-features-normal {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 51px;
}

/* features-list */
.features-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  list-style: none;
}

.features-item {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--basic-white);
  text-align: center;
}

.features-item-long {
  display: flex;
  flex-wrap: wrap;
  grid-column-start: 1;
  grid-column-end: -1;
  width: 100%;
}

.features-item-back-blue {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.features-item-back-grey {
  width: 400px;
  background-color: var(--basic-neutral);
}

.features-item-back-grey p {
  margin: 0;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 54px;
}

.features-item h3 {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

/* subsection-features-item */
.subsection-features-list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  list-style: none;
  background-color: var(--basic-white);
}

.subsection-features-item {
  position: relative;
}

.subsection-features-item-house::before {
  content: url(../img/icon-1_house.svg);
  position: absolute;
  top: 60px;
  left: 162px;
}

.subsection-features-item-food::before {
  content: url(../img/icon-3_food.svg);
  position: absolute;
  top: 61px;
  left: 162px;
}

.subsection-features-item-souvenirs::before {
  content: url(../img/icon-2_souvenir.svg);
  position: absolute;
  top: 55px;
  left: 168px;
}

.features-item-wrapper-text {
  width: 400px;
  margin: 0;
  align-self: center;
}

.features-item-wrapper-text-city h3,
.features-item-wrapper-text-bridge h3,
.features-item-back-grey h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}

.features-item-wrapper-text-city p,
.features-item-wrapper-text-bridge p
.features-item-back-grey p {
  margin: 0;
  padding: 0;
  margin-top: 23px;
}

.features-item-back-grey h3 {
  margin: 0;
  padding: 0;
  margin-top: 47px;
}

/* отступы здесь после картинки вставленной? */
.subsection-features-item {
  width: 400px;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}

.subsection-features-item h3 {
  margin: 0;
  padding: 0;
  padding-top: 160px;
  margin-bottom: 25px;
  font-size: 21px;
  font-weight: 700;
}

.subsection-features-item p {
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
}

.three-features-item {
  color: var(--basic-black);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background-color: var(--basic-neutral);
  text-align: center;
}

/* modal */

.modal {
  background-color: var(--basic-white);
  text-align: center;
}

.modal h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 58px;
  padding-bottom: 4px;
}

.modal-info {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 48px;
}

.button-search {
  width: 568px;
  height: 86px;
  color: var(--basic-white);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: var(--basic-brown);
  border: none;
  text-transform: uppercase;

  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
}

/* two-page */
.fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.specific-hotels {
  color: var(--basic-white);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  background-color: var(--basic-hover-blue);
  background-image: url(../img/background-filter.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.specific-infra-list,
.specific-type-list,
.specific-value-min,
.specific-value-max,
.specific-value {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.name-specific-value {
  padding: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.specific-value input {
  color: var(--basic-white);
  background-color: transparent;
  border: 2px solid var(--basic-white);
}

.specific-form {
  padding: 27px 72px 32px 72px;
  display: grid;
  grid-template-columns: 254px 254px 320px;

}

.check-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check {
  padding-left: 39px;
}

.check-box{
  margin-left: -39px;
  position: absolute;
  width: 27px;
  height: 27px;
  background-image: url(../img/checkbox/checkbox-off.svg);
  background-repeat: no-repeat;
}

.check-input:checked + .check-box {
  background-image: url(../img/checkbox/checkbox-on.svg);
}

.check-input:disabled + .check-box {
  background-image: url(../img/checkbox/checkbox-off-disabled.svg);
}

.check-input:checked:disabled + .check-box {
  background-image: url(../img/checkbox/checkbox-on-disabled.svg);
}

.specific-infra-list,
.name-specific-infra-list,
.specific-type-list,
.name-specific-type-list {
  padding: 0;
  margin: 0;
}

.specific-infra-list,
.specific-type-list {
  list-style: none;
}

.specific-infra-list li,
.specific-type-list li {
  padding-bottom: 25px;
}

.specific-infra-list li:nth-last-child(1),
.specific-type-list li:nth-last-child(1) {
  padding: 0;
}

.name-specific-type-list,
.name-specific-infra-list {
padding-bottom: 24px;
}

.specific-value-container {
  width: 320px;
  margin-left: 231px;
}

/* Range */
.price-controls{
  width: 316px;

  display: flex;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.price-controls .specific-value-min{
  padding-left: 64px;
}

.price-controls .specific-value-max{
  padding-left: 53px;
}

.price-controls label{
  padding: 6px 0 8px 0;
}

.specific-value-min::after{
  position: absolute;
  content: "";
  width: 2px;
  height: 22px;
  background: var(--basic-white);
}

.price-controls input{
  font-size: inherit;
  font-family: inherit;
  padding: 0;
  margin-left: 3px;
  border: none;
}

.price-controls .input-range {
  width: 72px;
}

.range-controls {
  position: relative;
  margin-top: 20px;
  margin-bottom: 33px;
}

.scale {
  width: 320px;
}

.range-controls .scale {
  height: 2px;
  background: var(--color-active-white);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-white);
}

.range-controls .toggle {
  position: absolute;
  left: 0px;
  top: -10px;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--color-range);
  border-radius: 50%;
  box-shadow: 0px 2px 0px var(--color-range);
}

.toggle:hover,
.toggle:focus{
  border: 12px solid var(--basic-white);
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 80%;
}

.button-specific {
  display: block;
  margin: 0 auto;
  min-width: 137px;
  min-height: 36px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 2px;

  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
}

/* result-hotels */
.result-hotels-sorting {
  display: flex;
  align-items: center;
  position: relative;
}

.result-hotels {
  background-color: var(--basic-white);
}

.found {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-left: 73px;
}

.sorting {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list,
.found-hotels-item,
.found-hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.found-hotels-item {
  padding: 30px 71px 30px 71px;
  display: flex;
  border-top: 1px solid var(--border-hotels);
  justify-content: space-between;
}

.container-img-info-hotel {
  display: flex;
}

.found-hotels-list li:last-child {
  border-bottom: 1px solid var(--border-hotels);
}

.found-hotels-item img {
  width: 135px;
  height: 90px;
  display: block;
}

.sorting-list {
display: flex;
}

.sorting {
  margin: 32px 40px 34px 46px;
}

.sorting-item-price {
  margin: 31px 32px 37px 0;
}

.sorting-item-type {
  margin: 31px 33px 0 0;
}

.sorting-item-rating {
  margin: 31px 303px 37px 0;
}

/* здесь будут отступы для стрелок */

.sorting-item {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-item-type,
.sorting-item-rating,
.sorting-item-price {
  color: var(--basic-black);
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-blue);
}

.sorting-item-ascending {
  position: absolute;
  right: 96px;
  border: none;
}

.sorting-item-descending {
  position: absolute;
  right: 73px;
  border: none;
}


.name-found-hotels {
  max-width: 750px;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.name-found-hotels-h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}

.type-found-hotels,
.value-found-hotels,
.rating-found-hotels {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.type-found-hotels,
.value-found-hotels {
  margin-bottom: 15px;
}

.button-hotel {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  border: none;
  text-transform: uppercase;
  text-align: center;

  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
}

.button-detailed {
  padding: 3px 17px 3px 17px;
  background-color: var(--basic-blue);

  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
}

.button-book {
  padding: 3px 17px 3px 17px;
  background-color: var(--basic-brown);

  text-align: center;
  font-family: "PT Sans", Arial, sans-serif;
}

.info-hotel-container {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 6px;
}

.rating-found-hotels {
  margin: 0;
  padding: 0;
  padding-top: 3px;
  width: 110px;
  height: 27px;
  color: var(--basic-rating);
  background-color: var(--basic-background);
  text-align: center;
}

.info-hotel {
  max-width: 780px;
  margin-left: 30px;
}

.rating-hotel {
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.class-hotel{
  opacity: 0;
}

.stars{
  background-image: url(../img/star.svg);
  background-repeat: space;
}

.four-stars{
  width: 90px;
}

.three-stars{
  width: 65px;
}

.two-stars{
  width: 40px;
}

/* состояние инпутов из формы тут будут  и кнопка поиск*/

.button-search:hover,
.button-search:focus {
  background-color: var(--basic-hover-brown);
}

.button-search:active {
  background-color: var(--basic-active-brown);
  color: var(--color-active-white);
}

.button-specific:hover,
.button-specific:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.sorting-list a:hover:not(.sorting-item-ascending, .sorting-item-descending),
.sorting-list a:focus:not(.sorting-item-ascending, .sorting-item-descending) {
  color: var(--basic-blue);
  opacity: 1;
  border-bottom: 1px dotted var(--basic-blue);
}


.sorting-list a:active:not(.sorting-item-ascending, .sorting-item-descending) {
  border: none;
  color: var(--basic-black);
  opacity: 1;
}

.sorting-item-ascending:hover path,
.sorting-item-descending:hover path,
.sorting-item-ascending:focus path,
.sorting-item-descending:focus path{
  fill: var(--basic-black);
}

.sorting-item-ascending:active path,
.sorting-item-descending:active path{
  fill: var(--basic-blue);
}

.sorting-item-descending.active path{
  fill: var(--basic-blue);
}

.name-found-hotels:focus,
.name-found-hotels:hover {
  color: var(--basic-blue);
}

.name-found-hotels:active {
  color: var(--color-active-black)
}

.button-detailed:hover,
.button-detailed:focus {
  background-color: var(--basic-hover-blue);
}

.button-detailed:active {
  background-color: var(--basic-active-blue);
  color: var(--color-active-white);

}

.button-book:hover,
.button-book:focus {
  background-color: var(--basic-hover-brown);
}

.button-book:active {
  background-color: var(--basic-active-brown);
  color: var(--color-active-white);
}

.sorting-list .active_sorting {
  color: var(--basic-blue);
  border: none;
  opacity: 1;
}

.modal-img {
  display: block;
  width: 1200px;
  height: 594px;
}

/* footer */
.main-footer {
  text-align: center;
  background-color: var(--basic-white);
  color: var(--basic-black);

}
/*
.main-footer-one-page {
  margin-top: -120px;
  opacity: 0.9;
} */


.container{
  position: relative;
}

.main-footer-one-page{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--color-index-footer);
}



.footer-container {
  height: 120px;
  display: grid;
  grid-template-columns: 327px 400px 327px;
  grid-template-rows: 120px;
  justify-content: center;
  align-content: center;
}

.footer-contacts {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 23px;
}

.footer-contacts p {
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
}

.footer-contacts a {
  color: var(--basic-black);
}

.footer-social {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  margin-right: 6px;
  width: 46px;
  height: 48px;
}

.footer-social a:nth-child(3) {
  margin-right: 0;
}

.icon-tw {
  width: 17px;
  height: 15px;
}

.icon-fb {
  width: 12px;
  height: 22px;
}

.icon-yt {
  width: 20px;
  height: 16px;
}

.icon-htmlacademy {
  width: 115px;
  height: 41px;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.link-htmlacademy {
  color: var(--basic-black);
  align-self: center;
}

.copyright {
  margin-right: 6px;
}

/* condition-footer */
.social-button:hover,
.social-button:focus {
  background-color: var(--basic-hover-blue);
}

.social-button:active {
  background-color: var(--basic-active-blue);
}

.social-button:active path {
  fill: var(--color-active-white);
}

.link-htmlacademy:hover path,
.link-htmlacademy:focus path {
  fill: var(--basic-hover-blue);
}

.link-htmlacademy:active path {
  fill: var(--basic-active-logo-htmlacademy);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.blank-page{
  padding: 100px 0;
  display: flex;
  justify-content: center;

  background-color: var(--basic-white);
}

.author{
  display: flex;
  justify-content: center;
  background-color: var(--basic-white);
  font-size: 10px;
  color: var(--basic-black);
}

.author a{
  color: var(--basic-black);
}

.title-develop{
  padding: 20px;
}
